<% if @article.errors.any? %>
<div id="error_explanation">
   <h2>
      <%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:
   </h2>
   <ul>
      <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
   </ul>
</div>
<% end %>
<br><br>
<div class='row'>
   <div class='col-xs-12'>
      <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
         <div class="form-group">
            <div class="control-label col-sm-2">
               <%= f.label "Título"%><br>
            </div>
            <div class="col-sm-8">
               <%= f.text_field :title, class: "form-control", placeholder: "Título do artigo", autofocus: true %>
            </div>
         </div>
         <div class="form-group">
            <div class="control-label col-sm-2">
               <%= f.label "Descrição" %><br>
            </div>
            <div class="col-sm-8">
               <%= f.text_area :text, class: "form-control", rows: 10 , placeholder: "Descrição", autofocus: true %>
            </div>
         </div>
         <br><br>
         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <%= f.submit "Criar Artigo", class: "btn btn-primary btn-lg" %><br>
            </div>
         </div>
      <% end %>
   </div>
</div>
