<% if @article.errors.any? %>
   <div class="row">
      <div class = "col-xs-8 col-xs-offset-2">
         <div class="panel panel-danger">
            <div class="panel-heading">
               <h2 class="panel-title">
                  <%= pluralize(@article.errors.count, "erro") %>
                  proibiram este artigo de ser criado:
               </h2>
               <div class="panel-body">
                  <ul = class = "h2normal">
                     <% @article.errors.full_messages.each do |msg| %>
                     <li><%= msg %></li>
                     <% end %>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
<% end %>
<br><br>
<div class='row'>
   <div class='col-xs-12'>
      <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
         <div class="form-group">
            <div class="control-label col-sm-2">
               <%= f.label "Título"%><br>
            </div>
            <div class="col-sm-8">
               <%= f.text_field :title, class: "form-control", placeholder: "Título do artigo", autofocus: true %>
            </div>
         </div>
         <div class="form-group">
            <div class="control-label col-sm-2">
               <%= f.label "Descrição" %><br>
            </div>
            <div class="col-sm-8">
               <%= f.text_area :text, class: "form-control", rows: 10 , placeholder: "Descrição", autofocus: true %>
            </div>
         </div>
         <br><br>
         <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <%= f.submit "Criar Artigo", class: "btn btn-primary btn-lg" %><br>
            </div>
         </div>
      <% end %>
   </div>
</div>
