<head>
   <link rel="stylesheet" href="/app/assets/css/main.css">
</head>

<div class = "container">
   <h1>Blog de Artigos</h1>
   <%= link_to 'Novo Artigo', new_article_path %>
   <table class="table table-striped">
     <tr>
       <th>Title</th>
       <th>Text</th>
       <th colspan="3"></th>
     </tr>

     <% @articles.each do |article| %>
       <tr>
         <td><%= article.title %></td>
         <td><%= article.text %></td>
         <td><%= link_to 'Mostrar', article_path(article) %></td>
         <td><%= link_to 'Editar', edit_article_path(article) %></td>
         <td><%= link_to 'Excluir', article_path(article),
                 method: :delete,
                 data: { confirm: 'Tem certeza?' } %></td>
       </tr>
     <% end %>
   </table>

   <p><%= link_to 'Welcome', root_path %></p>

</div>
