<div class="container">
   <h2>
     <strong>Título:</strong>
     <%= @article.title %>
   </h2>
   <blockquote>
      <h4>
        <%= @article.text %>
     </h4>
  </blockquote>
  <br><br>
  <h3>
     <strong class = "comment">Comentários</strong>
  </h3>
   <%= render @article.comments %>
   <br><br>
   <h3 class = "comment">Escreva seu comentário:</h3>
   <%= render 'comments/form' %>
   <br><br><br>
   <%= link_to 'Editar', edit_article_path(@article) %> |
   <%= link_to 'Voltar', articles_path %>

</div>
